//Todo: Ensure all a-elements etc have th ecorrect font.

//***************** VARIABLES ******************//

@color-lightBlue: 			#43c4e3;
@color-mediumBlue: 			#44c4e1;
@color-darkBlue: 			#1c9dba;

@color-light: 				#ffffff;
@color-lightGray: 			#f6f6f6;
@color-mediumGray: 			#d0d2d2;
@color-darkGray: 			#424343;
@color-dark: 				#1b1b1b;

@color-black:				#232323;

@color-yellow: 				#f8eb30;

@color-green:				#54dd51;

@color-darkRed: 			#ad2527;
@color-darkerRed: 			#9d1d1f;
@color-bloodRed:			#77121a;

@color-brown: 				#6f412a;
@color-darkBrown:			#3a2213;

@brand-color: 				@color-lightBlue;

@brand-font: 				'Open Sans';

//***************** GLOBAL ******************//

body {
	.antialiased;
  	min-width: 960px !important;
	font-family: @brand-font !important;
}

h1 {
	line-height: 1.1 !important;
	font-weight: 700 !important;
	font-family: @brand-font !important;
	font-weight: 400 !important;
	color: @color-dark !important;
}

h2 {
	line-height: 1.2 !important;
	font-weight: 700 !important;
	font-family: @brand-font !important;
	font-weight: 400 !important;
	color: @color-dark !important;
}

h3 {
	font-size: 24pt !important;
	font-weight: 400 !important;
	line-height: 1.2 !important;
	font-family: @brand-font !important;
	font-weight: 300 !important;
	color: @color-dark !important;
}

h4 {
	font-size: 20px !important;
	line-height: 1.2 !important;
	font-family: @brand-font !important;
	font-weight: 400 !important;
	color: @color-dark !important;
}

p {
	font-family: @brand-font !important;
	line-height: 25px;
	font-size: 11pt;
	font-weight: 400 !important;
	color: @color-darkGray !important;
}

a {
	font-family: @brand-font !important;
}


//***************** SHORTCUTS ******************//

.no-margin {
	margin: 0 !important;
}

.full-width {
	width: 100%;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
}




//***************** MIXINS ******************//

.transition (@prop: all, @time: 0.15s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

//***************** LAYOUT ******************//

.logo { //Logo
	float: left;
	img {
		margin-top: 13px;
		width: 130px;
		.transition(all, 0.1s, ease-in);
		&:hover {
			opacity: 0.7;
		}
	}
}

header {
	&.menu {
		position: fixed;
		border: none;
		color: @color-light;
		margin-bottom: 0;
		background: @brand-color;
		z-index: 100;
		width: 100%;
		.fixed-container {
			background: @brand-color;
		}
		ul {
			li {
				list-style: none;
				float: right;
				a {
					.transition(all, 0.1s, ease-in);
					color: @color-light;
					font-weight: bold;
					font-size: 15px;
					padding: 15px 20px;
					display: inline-block;
					&:hover {
						text-decoration: none;
						color: @brand-color;
						background: @color-lightGray;
					}
				}
			}
		}
	}
}

.hero {
	width: 100%;
	min-width: 1170px;
	height: 520px;
	background-color: @color-lightGray;
	.inner {
		width: 600px;
	}
	img {
		width: 600px;
		margin-top: 200px;
	}
	h2 {
		color: @color-mediumGray !important;
		margin-top: -50px;
		margin-left: 245px;
		font-size: 22pt;
		font-weight: 300 !important;
	}
	.whitecircle {
		margin-top: 110px;
		background: @color-light;
		width: 110px;
		height: 110px;
		border-radius: 50%;
	}
	.circle {
		display: block;
		background: @color-mediumBlue;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		text-align: center;
		color: @color-light;
		font-size: 20pt;
		margin-top: -95px;
		border: #fff solid #fff;
		&:hover {
			.transition(all, 0.1s, ease-in);
			background: lighten(@brand-color, 10%);
		}
		.glyphicon {
			.transition(all, 0.1s, ease-in);
			margin-top: 28px;
		}
	}
}

.fixed-container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}

.main {
	margin-top: 100px;
	.fixed-container {
		margin-bottom: 100px;
	}

	.bigCircle {
		float: left;
		margin-right: 40px;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		&.yellow {
			background: @color-yellow url(../img/mjolk.png);
			@-webkit-keyframes mjolkAnimation {
			    from { background-position: 0 0; }
			    to { background-position: -361px 0; }
			}
			animation: mjolkAnimation 2s infinite;
			-webkit-animation: mjolkAnimation 2s infinite;
    		-webkit-animation-timing-function: linear;
		}
		&.darkRed {
			background: @color-darkRed url(../img/sperma.png);
			@-webkit-keyframes redAnimation {
			    from { background-position: 0 0; }
			    to { background-position: -361px 0; }
			}
			animation: redAnimation 20s infinite;
			-webkit-animation: redAnimation 20s infinite;
    		-webkit-animation-timing-function: linear;
		}
		&.lightBlue {
			background-color: @color-lightBlue;
		}
	}

	.del1 {
		float: left;
		margin-bottom: 80px;
		h3 {
			margin-top: 40px;
			margin-bottom: 20px;
		}
		.svensk {
			width: 210px;
			margin-left: 50px;
			margin-top: -30px;
		}
	}

	.del2 {
		float: left;
		margin-bottom: 50px;
		h3 {
			margin-top: 70px;
			margin-bottom: 20px;
		}
		.insemination {
			width: 378px;
			margin-left: -52px;
			margin-top: 24px;
		}
	}

	.del3 {
		float: left;
		margin-bottom: 80px;
		h3 {
			margin-top: 70px;
			margin-bottom: 20px;
		}
		.kalvning {
			width: 353px;
			margin-left: -51px;
			margin-top: 48px;
		}
	}

}