body {
  -webkit-font-smoothing: antialiased;
  min-width: 960px !important;
  font-family: 'Open Sans' !important;
}
::selection {
  background: #43c4e3;
  color: #fff;
}
h1 {
  line-height: 1.1 !important;
  font-weight: 700 !important;
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
  color: #1b1b1b !important;
}
h2 {
  line-height: 1.2 !important;
  font-weight: 700 !important;
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
  color: #1b1b1b !important;
}
h3 {
  font-size: 24pt !important;
  font-weight: 400 !important;
  line-height: 1.2 !important;
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
  color: #1b1b1b !important;
}
h4 {
  font-size: 22px !important;
  line-height: 1.2 !important;
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
  color: #1b1b1b !important;
}
p {
  font-family: 'Open Sans' !important;
  line-height: 25px;
  font-size: 11pt;
  font-weight: 400 !important;
  color: #424343 !important;
}
a {
  font-family: 'Open Sans' !important;
}
img {
  height: auto;
}
.popover {
  font-weight: bold !important;
  box-shadow: none !important;
}
.hasPopover {
  cursor: pointer;
}
.no-margin {
  margin: 0 !important;
}
.full-width {
  width: 100%;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
}
header.menu {
  position: fixed;
  border: none;
  color: #ffffff;
  margin-bottom: 0;
  background: #43c4e3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
  z-index: 100;
  width: 100%;
}
header.menu .fixed-container {
  background: #43c4e3;
}
header.menu .logo {
  float: left;
}
header.menu .logo img {
  margin-top: 13px;
  width: 130px;
  height: auto;
  display: inline;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
header.menu .logo img:hover {
  opacity: 0.7;
}
header.menu .share {
  float: right;
}
@media only screen and (max-width: 1170px) {
  header.menu .share {
    float: left;
  }
}
header.menu ul li {
  list-style: none;
  float: right;
}
header.menu ul li a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 20px;
  display: inline-block;
}
header.menu ul li a:hover {
  text-decoration: none;
  color: #43c4e3;
  background: #f6f6f6;
}
.hero {
  width: 100%;
  min-width: 1170px;
  height: 520px;
  background-color: #f6f6f6;
}
.hero .inner {
  width: 600px;
}
.hero img {
  width: 600px;
  margin-top: 200px;
}
.hero h1 {
  color: #d0d2d2 !important;
  margin-top: -50px;
  margin-left: 245px;
  font-size: 22pt;
  font-weight: 300 !important;
}
.hero .whitecircle {
  margin-top: 110px;
  background: #ffffff;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.hero .circle {
  display: block;
  background: #44c4e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 20pt;
  margin-top: -95px;
  border: #fff solid #fff;
}
.hero .circle:hover {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background: #6fd2ea;
}
.hero .circle .glyphicon {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  margin-top: 28px;
}
.fixed-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}
.main {
  margin-top: 100px;
}
.main .fixed-container {
  margin-bottom: 100px;
}
.main .bigCircle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.main .bigCircle.yellow {
  background: #f8eb30 url(../img/mjolk.png);
  animation: mjolkAnimation 2s infinite;
  -webkit-animation: mjolkAnimation 2s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes mjolkAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -361px 0;
  }
}
.main .bigCircle.darkRed {
  background: #ad2527 url(../img/sperma.png);
  animation: redAnimation 20s infinite;
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes redAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -361px 0;
  }
}
.main .bigCircle.lightBlue {
  background-color: #43c4e3;
}
.main .bigCircle.darkBrown {
  background-color: #3a2213;
}
.main .bigCircle.gray {
  background-color: #d0d2d2;
}
.main .bigCircle.dark {
  background-color: #1b1b1b;
}
.main .del1 {
  float: left;
  margin-bottom: 80px;
  width: 100%;
}
.main .del1 h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.main .del1 .svensk {
  width: 210px;
  margin-left: 50px;
  margin-top: -30px;
}
.main .del1 .bigCircle {
  float: left;
  margin-right: 40px;
}
.main .del2 {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}
.main .del2 h3 {
  margin-top: 70px;
  margin-bottom: 20px;
}
.main .del2 .insemination {
  width: 378px;
  margin-left: -52px;
  margin-top: 24px;
}
.main .del2 .pipe1 {
  background: #ad2527 url(../img/sperma.png);
  position: absolute;
  margin-top: 298px;
  margin-left: 218px;
  width: 30px;
  height: 100px;
  z-index: -1;
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
}
.main .del2 .bigCircle {
  margin-right: 40px;
  float: left;
}
.main .del3 {
  float: left;
  margin-bottom: 170px;
  width: 100%;
}
.main .del3 h3 {
  margin-top: 70px;
  margin-bottom: 20px;
}
.main .del3 .kalvning {
  width: 353px;
  margin-left: -51px;
  margin-top: 48px;
}
.main .del3 .pipe1 {
  background: #d0d2d2;
  position: absolute;
  margin-top: 285px;
  margin-left: 218px;
  width: 30px;
  height: 100px;
  z-index: -1;
}
.main .del3 .pipe2 {
  background: #d0d2d2;
  position: absolute;
  margin-top: 385px;
  margin-left: 218px;
  width: 307px;
  height: 30px;
  z-index: -1;
}
.main .del3 .pipe3 {
  background: #d0d2d2;
  position: absolute;
  margin-top: 385px;
  margin-left: 525px;
  width: 30px;
  height: 100px;
  z-index: -1;
}
.main .del3 .bigCircle {
  margin-right: 40px;
  float: left;
}
.main .del4 {
  float: left;
  margin-bottom: 100px;
  width: 100%;
}
.main .del4 h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.main .del4 .separation {
  width: 650px;
}
.main .del4 .timmar {
  display: block;
  position: absolute;
  margin-left: 285px;
  margin-top: 110px;
  font-size: 55pt !important;
  line-height: 1.2 !important;
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
  color: #c1b49a !important;
  animation: starAnimationOne 5s infinite;
  -webkit-animation: starAnimationOne 5s infinite;
}
.main .del4 .star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #c1b49a;
  border-radius: 5px;
}
@-webkit-keyframes starAnimationOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starAnimationTwo {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes starAnimationThree {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.main .del4 .star.pos1 {
  margin-top: 70px;
  margin-left: 270px;
  animation: starAnimationOne 3s infinite;
  -webkit-animation: starAnimationOne 3s infinite;
}
.main .del4 .star.pos2 {
  margin-top: 50px;
  margin-left: 350px;
  animation: starAnimationTwo 3s infinite;
  -webkit-animation: starAnimationTwo 3s infinite;
}
.main .del4 .star.pos3 {
  margin-top: 85px;
  margin-left: 340px;
  animation: starAnimationThree 3s infinite;
  -webkit-animation: starAnimationThree 3s infinite;
}
.main .del4 .star.pos4 {
  margin-top: 110px;
  margin-left: 410px;
  animation: starAnimationTwo 3s infinite;
  -webkit-animation: starAnimationTwo 3s infinite;
}
.main .del4 .pipe1 {
  background: #3a2213;
  position: absolute;
  margin-top: 150px;
  margin-left: -100px;
  width: 450px;
  height: 30px;
  z-index: -1;
}
.main .del4 .pipe2 {
  background: #6f412a;
  position: absolute;
  margin-top: 150px;
  margin-left: 350px;
  width: 450px;
  height: 30px;
  z-index: -1;
}
.main .del4 .pipe3 {
  background: #3a2213;
  position: absolute;
  margin-top: 150px;
  margin-left: -100px;
  width: 30px;
  height: 670px;
  z-index: -1;
}
.main .del4 .pipe4 {
  background: #6f412a;
  position: absolute;
  margin-top: 150px;
  margin-left: 770px;
  width: 30px;
  height: 2300px;
  z-index: -1;
}
.main .del4 .pipe5 {
  background: #3a2213;
  position: absolute;
  margin-top: 820px;
  margin-left: -100px;
  width: 500px;
  height: 30px;
  z-index: -1;
}
.main .del5 {
  float: left;
  margin-bottom: 75px;
  width: 100%;
}
.main .del5 h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.main .del5 .mjolkning {
  margin-top: 20px;
  margin-left: -50px;
  width: 480px;
}
.main .del5 .mjolk {
  background: url(../img/mjolk-liten.png);
  position: absolute;
  margin-left: 525px;
  margin-top: 250px;
  width: 89px;
  height: 35px;
  animation: mjolkLitenAnimation 1s infinite;
  -webkit-animation: mjolkLitenAnimation 1s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes mjolkLitenAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -89px 0;
  }
}
.main .del5 .mjolkkartong {
  position: absolute;
  width: 60px;
  z-index: -1;
  margin-top: 200px;
  margin-left: 200px;
  animation: mjolkkartong 1.7s infinite;
  -webkit-animation: mjolkkartong 1.7s infinite;
}
@-webkit-keyframes mjolkkartong {
  0% {
    margin-top: 230px;
    margin-left: 200px;
  }
  50% {
    margin-top: 230px;
    margin-left: 285px;
  }
  100% {
    margin-top: 650px;
    margin-left: 200px;
  }
}
.main .del5 .pipe1 {
  background: #3a2213;
  position: absolute;
  margin-top: 250px;
  margin-left: 330px;
  width: 30px;
  height: 300px;
  z-index: -1;
}
.main .del5 .bigCircle {
  float: none;
  display: inline-block;
}
.main .del6 {
  float: left;
  margin-bottom: 100px;
  width: 100%;
}
.main .del6 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .del6 .packetering {
  margin-top: 0px;
  margin-left: 0px;
  width: 650px;
}
.main .del6 .pipe1 {
  background: #3a2213;
  position: absolute;
  margin-top: 250px;
  margin-left: -100px;
  width: 300px;
  height: 30px;
  z-index: -1;
}
.main .del6 .pipe2 {
  background: #3a2213;
  position: absolute;
  margin-top: 250px;
  margin-left: -100px;
  width: 30px;
  height: 450px;
  z-index: -1;
}
.main .del6 .pipe3 {
  background: #3a2213;
  position: absolute;
  margin-top: 700px;
  margin-left: -100px;
  width: 150px;
  height: 30px;
  z-index: -1;
}
.main .del6 .pipe4 {
  background: #3a2213;
  position: absolute;
  margin-top: 700px;
  margin-left: 30px;
  width: 30px;
  height: 100px;
  z-index: -1;
}
.main .del6 .bigCircle {
  float: none;
  display: inline-block;
}
.main .del7 {
  float: left;
  margin-bottom: 300px;
  width: 100%;
}
.main .del7 h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.main .del7 .insemination {
  width: 378px;
  margin-left: -42px;
  margin-top: 24px;
}
.main .del7 .pipe1 {
  background: #3a2213;
  position: absolute;
  margin-top: 298px;
  margin-left: 228px;
  width: 30px;
  height: 80px;
  z-index: -1;
}
.main .del7 .pipe2 {
  background: #3a2213;
  position: absolute;
  margin-top: 350px;
  margin-left: 108px;
  width: 150px;
  height: 30px;
  z-index: -1;
}
.main .del7 .pipe3 {
  background: #3a2213;
  position: absolute;
  margin-top: 350px;
  margin-left: 100px;
  width: 30px;
  height: 900px;
  z-index: -1;
}
.main .del7 .pipe4 {
  background: #3a2213;
  position: absolute;
  margin-top: 1250px;
  margin-left: 100px;
  width: 100px;
  height: 30px;
  z-index: -1;
}
.main .del7 .bigCircle {
  margin-right: 40px;
  float: left;
}
.main .del8 {
  float: left;
  margin-bottom: 80px;
  width: 100%;
}
.main .del8 h3 {
  margin-top: -100px;
  margin-bottom: 20px;
}
.main .del8 .kvigaCircle {
  margin-left: 0px;
  margin-top: 100px;
  width: 200px;
  height: 200px;
}
.main .del8 .kvigaCircle .kviga {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
}
.main .del8 .tjurCircle {
  position: absolute;
  margin-left: 500px;
  margin-top: 100px;
  width: 200px;
  height: 200px;
}
.main .del8 .tjurCircle .tjur {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
}
.main .del8 .pipe1 {
  background: #6f412a;
  position: absolute;
  margin-top: 0px;
  margin-left: 530px;
  width: 465px;
  height: 30px;
  z-index: -1;
}
.main .del8 .pipe2 {
  background: #6f412a;
  position: absolute;
  margin-top: 0px;
  margin-left: 530px;
  width: 30px;
  height: 170px;
  z-index: -1;
}
.main .del8 .pipe3 {
  background: #6f412a;
  position: absolute;
  margin-top: 150px;
  margin-left: 250px;
  width: 500px;
  height: 30px;
  z-index: -1;
}
.main .del8 .pipe4 {
  background: #ad2527 url(../img/sperma.png);
  position: absolute;
  margin-top: 150px;
  margin-left: 280px;
  width: 30px;
  height: 500px;
  z-index: -1;
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
}
.main .del8 .pipe5 {
  background: #1b1b1b;
  position: absolute;
  margin-top: 150px;
  margin-left: 780px;
  width: 30px;
  height: 500px;
  z-index: -1;
}
.main .del8 .bigCircle {
  margin-right: 40px;
  float: left;
}
.main .del9 {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
.main .del9 h3 {
  margin-top: -100px;
  margin-bottom: 20px;
}
.main .del9 .inseminationCircle {
  margin-left: -230px;
  margin-top: 100px;
  width: 300px;
  height: 300px;
}
.main .del9 .inseminationCircle .insemination {
  margin-left: 10px;
  margin-top: 60px;
  width: 260px;
}
.main .del9 .slaktCircle {
  position: absolute;
  margin-left: 265px;
  margin-top: 100px;
  width: 300px;
  height: 300px;
}
.main .del9 .slaktCircle .slakt {
  margin-left: -70px;
  margin-top: -20px;
  width: 450px;
}
.main .del9 .pipe1 {
  background: #1b1b1b;
  position: absolute;
  margin-top: 310px;
  margin-left: 300px;
  width: 500px;
  height: 30px;
  z-index: -1;
}
.main .del9 .bigCircle {
  margin-right: 40px;
  float: left;
}
.main .del9 .blood {
  position: absolute;
  width: 4px;
  height: 6px;
  border-radius: 10px;
  background: #ad2527;
  z-index: 100;
}
.main .del9 .blood.pos1 {
  margin-top: 245px;
  margin-left: 615px;
  animation: bloodOne 2.5s infinite;
  -webkit-animation: bloodOne 2.5s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes bloodOne {
  0% {
    margin-top: 245px;
    margin-left: 615px;
    opacity: 0;
  }
  10% {
    margin-top: 250px;
    margin-left: 615px;
    opacity: 1;
  }
  80% {
    margin-top: 257px;
    margin-left: 615px;
    opacity: 1;
  }
  100% {
    margin-top: 310px;
    margin-left: 615px;
    opacity: 0;
  }
}
.main .del9 .blood.pos2 {
  margin-top: 245px;
  margin-left: 625px;
  animation: bloodTwo 2.3s infinite;
  -webkit-animation: bloodTwo 2.3s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes bloodTwo {
  0% {
    margin-top: 245px;
    margin-left: 625px;
    opacity: 0;
  }
  20% {
    margin-top: 250px;
    margin-left: 625px;
    opacity: 1;
  }
  85% {
    margin-top: 257px;
    margin-left: 625px;
    opacity: 1;
  }
  100% {
    margin-top: 320px;
    margin-left: 625px;
    opacity: 0;
  }
}
.main .del9 .blood.pos3 {
  margin-top: 245px;
  margin-left: 620px;
  animation: bloodThree 2.0s infinite;
  -webkit-animation: bloodThree 2.0s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes bloodThree {
  0% {
    margin-top: 245px;
    margin-left: 620px;
    opacity: 0;
  }
  20% {
    margin-top: 250px;
    margin-left: 620px;
    opacity: 1;
  }
  85% {
    margin-top: 257px;
    margin-left: 620px;
    opacity: 1;
  }
  100% {
    margin-top: 300px;
    margin-left: 620px;
    opacity: 0;
  }
}
.main .del9 .blood.pos4 {
  margin-top: 235px;
  margin-left: 215px;
  animation: bloodFour 2.5s infinite;
  -webkit-animation: bloodFour 2.5s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes bloodFour {
  0% {
    margin-top: 235px;
    margin-left: 215px;
    opacity: 0;
  }
  10% {
    margin-top: 235px;
    margin-left: 215px;
    opacity: 1;
  }
  80% {
    margin-top: 240px;
    margin-left: 215px;
    opacity: 1;
  }
  100% {
    margin-top: 320px;
    margin-left: 215px;
    opacity: 0;
  }
}
.main .del9 .blood.pos5 {
  margin-top: 235px;
  margin-left: 225px;
  animation: bloodFive 2.3s infinite;
  -webkit-animation: bloodFive 2.3s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes bloodFive {
  0% {
    margin-top: 235px;
    margin-left: 225px;
    opacity: 0;
  }
  20% {
    margin-top: 235px;
    margin-left: 225px;
    opacity: 1;
  }
  85% {
    margin-top: 240px;
    margin-left: 225px;
    opacity: 1;
  }
  100% {
    margin-top: 300px;
    margin-left: 225px;
    opacity: 0;
  }
}
.main .del9 .blood.pos6 {
  margin-top: 235px;
  margin-left: 220px;
  animation: bloodSix 2.0s infinite;
  -webkit-animation: bloodSix 2.0s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes bloodSix {
  0% {
    margin-top: 235px;
    margin-left: 220px;
    opacity: 0;
  }
  20% {
    margin-top: 235px;
    margin-left: 220px;
    opacity: 1;
  }
  85% {
    margin-top: 240px;
    margin-left: 220px;
    opacity: 1;
  }
  100% {
    margin-top: 310px;
    margin-left: 220px;
    opacity: 0;
  }
}
.main .del10 {
  float: left;
  margin-bottom: 240px;
  width: 100%;
}
.main .del10 h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.main .del11 {
  float: left;
  margin-bottom: 100px;
  width: 100%;
}
.main .del11 h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.main .del11 .stats {
  position: relative;
  height: 150px;
}
.main .del11 .stats .statsContent {
  position: absolute;
  height: 150px;
  margin-left: 230px;
  margin-bottom: 30px;
  bottom: 0;
  animation: lifeStats 2.0s infinite;
  -webkit-animation: lifeStats 2.0s infinite;
}
@-webkit-keyframes lifeStats {
  0% {
    height: 150px;
  }
  50% {
    height: 140px;
  }
  100% {
    height: 150px;
  }
}
.main .del11 .stats .statsContent .tjurStats {
  position: absolute;
  margin-left: 30px;
  width: 30px;
  height: 15%;
  background: #000;
  bottom: 0;
  border-radius: 3px;
}
.main .del11 .stats .statsContent .kossaStats {
  position: absolute;
  margin-left: 90px;
  width: 30px;
  height: 50%;
  background: #ad2527 url(../img/sperma.png);
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
  bottom: 0;
  border-radius: 3px;
}
.main .del11 .stats .statsContent .naturligStats {
  position: absolute;
  margin-left: 150px;
  width: 30px;
  height: 200%;
  background: #43c4e3;
  bottom: 0;
  border-radius: 3px;
}
.main .del12 {
  background: #f6f6f6;
  padding: 100px 0;
  width: 100%;
  min-width: 1170px;
  float: left;
}
.main .del12 h3 {
  margin-bottom: 20px;
  font-weight: 700 !important;
}
.main .del12 h4 {
  margin-bottom: 80px;
  color: #43c4e3 !important;
}
.main .del12 h4.citat {
  color: #555 !important;
  margin-bottom: 20px;
}
.main .del12 .mjolker {
  margin-bottom: 110px;
}
.main .del12 .mjolker .bigCircle {
  display: inline;
  box-shadow: 50px 60px 40px #bdbdbd;
  animation: mjolkShadow 4.0s infinite;
  -webkit-animation: mjolkShadow 4.0s infinite;
}
@-webkit-keyframes mjolkShadow {
  0% {
    box-shadow: 50px 40px 40px #bdbdbd;
  }
  50% {
    box-shadow: 3px 40px 40px #bdbdbd;
  }
  100% {
    box-shadow: 50px 40px 40px #bdbdbd;
  }
}
.main .del12 .mjolker .bigCircle img {
  width: 90px;
  margin-left: 20px;
  margin-right: 20px;
}
.main .del12 .mjolker .bigCircle span {
  position: absolute;
  margin-top: 135px;
  margin-left: -116px;
  color: #999;
  width: 95px;
}
.main footer {
  color: #ffffff !important;
  background: #43c4e3;
  padding-top: 80px;
  width: 100%;
  min-width: 1170px;
  float: left;
}
.main footer h3 {
  margin-bottom: 20px;
  color: #ffffff !important;
  font-weight: 700 !important;
}
.main footer h4 {
  margin-bottom: 30px;
  color: #ffffff !important;
}
.main footer .share {
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  color: #43c4e3;
  border-radius: 5px;
  margin: 0px 5px 60px 0px;
  font-size: 17px;
}
.main footer .share:hover {
  text-decoration: none;
  background: #e5f9ff;
}
.main footer .vote {
  background: #fff;
  padding: 50px;
  width: 100%;
  margin-bottom: 80px;
  border-radius: 10px;
}
.main footer .vote h3 {
  margin-top: 0;
  color: #b3b3b3 !important;
  font-weight: 300 !important;
}
.main footer .vote h4 {
  color: #43c4e3 !important;
}
.main footer .vote #nej,
.main footer .vote #ja,
.main footer .vote #kanske {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #43c4e3;
  border-radius: 5px;
  color: #43c4e3;
  font-size: 16pt;
  margin: 0px 5px 30px 5px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.main footer .vote #nej:hover,
.main footer .vote #ja:hover,
.main footer .vote #kanske:hover {
  text-decoration: none;
  background: #43c4e3;
  color: #fff;
}
.main footer .vote .toggleVotes h3 {
  margin-top: 20px;
}
.main footer .vote .results {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  border-radius: 5px;
  padding-top: 30px;
}
.main footer .vote .results .stats {
  position: absolute;
  height: 200px;
}
.main footer .vote .results .stats .yes {
  position: absolute;
  bottom: 0;
  width: 60px;
  background: #24b337;
  border-radius: 3px;
}
.main footer .vote .results .stats .yes .procent {
  color: #24b337;
}
.main footer .vote .results .stats .maybe {
  position: absolute;
  bottom: 0;
  width: 60px;
  background: #eab71f;
  border-radius: 3px;
}
.main footer .vote .results .stats .maybe .procent {
  color: #eab71f;
}
.main footer .vote .results .stats .no {
  position: absolute;
  bottom: 0;
  width: 60px;
  background: #ad2527;
  border-radius: 3px;
}
.main footer .vote .results .stats .no .procent {
  color: #ad2527;
}
.main footer .vote .results .stats .procent {
  position: absolute;
  display: block;
  top: -30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14pt;
}
.main footer .vote .results .stats .holder {
  float: left;
  width: 60px;
  height: 200px;
  margin: 0px 20px;
  border-radius: 3px;
}
.main footer .vote .results .stats .alternativ {
  position: absolute;
  display: block;
  bottom: -25px;
  width: 100%;
  text-align: center;
  color: #848484;
}
.main footer .sources {
  color: #198ca7 !important;
  font-size: 9pt;
  margin-bottom: 10px;
}
.main footer .sources a {
  color: #198ca7;
  display: inline-block;
  background: #50c8e5;
  padding: 3px 8px;
  margin-left: 5px;
  border-radius: 10px;
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  -ms-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
.main footer .sources a:hover {
  text-decoration: none;
  background: #6fd2ea;
}
.main footer .disclaimer {
  color: #ffffff !important;
  font-size: 9pt;
  line-height: 1.5;
  margin-bottom: 15px;
}
.main footer .disclaimer a {
  color: #ffffff;
}
.main footer .disclaimer a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.main footer .links {
  height: 50px;
  width: 100%;
  padding: 15px;
  background: #1c9dba;
  color: #43c4e3 !important;
}
.main footer .links a {
  color: #43c4e3 !important;
}
.main footer .links p {
  color: #43c4e3 !important;
}
.main footer .links ul {
  margin: 0 auto;
  width: 800px;
}
.main footer .links ul li {
  list-style: none;
  float: left;
  margin-left: 20px;
}
.main footer .links ul li a {
  color: #43c4e3;
  display: inline-block;
}
.main footer .links ul li a:hover {
  text-decoration: none;
  color: #ffffff !important;
}
