body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans' !important;
}
@media only screen and (max-width: 480px) {
  body {
    text-align: center;
  }
}
::selection {
  background: #43c4e3;
  color: #fff;
}
h1 {
  line-height: 1.1 !important;
  font-weight: 700 !important;
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
  color: #1b1b1b !important;
}
h2 {
  line-height: 1.2 !important;
  font-weight: 700 !important;
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
  color: #1b1b1b !important;
}
h3 {
  font-size: 24pt !important;
  font-weight: 400 !important;
  line-height: 1.2 !important;
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
  color: #1b1b1b !important;
}
h4 {
  font-size: 22px !important;
  line-height: 1.2 !important;
  font-family: 'Open Sans' !important;
  font-weight: 400 !important;
  color: #1b1b1b !important;
}
p {
  font-family: 'Open Sans' !important;
  line-height: 25px;
  font-size: 12pt;
  line-height: 1.7;
  font-weight: 400 !important;
  color: #424343 !important;
}
a {
  font-family: 'Open Sans' !important;
}
img {
  height: auto;
}
.no-margin {
  margin: 0 !important;
}
.full-width {
  width: 100%;
}
header.menu {
  position: absolute;
  border: none;
  color: #ffffff;
  margin-bottom: 0;
  z-index: 100;
  width: 100%;
}
header.menu .logo {
  float: left;
}
header.menu .logo img {
  margin-top: 13px;
  width: 130px;
  height: auto;
  display: inline;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
header.menu .logo img:hover {
  opacity: 0.7;
}
header.menu .share {
  float: right;
}
header.menu ul li {
  list-style: none;
  float: right;
}
header.menu ul li a {
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -ms-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  padding: 15px 20px;
  display: inline-block;
}
header.menu ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
hr {
  width: 200px;
  border-top: 2px solid #fff !important;
}
.hero {
  width: 100%;
  background: #43c4e3 url(../img/hero.jpg) center;
  background-size: cover;
  padding: 230px 0 200px 0;
}
.hero img {
  width: 600px;
  max-width: 100%;
}
.hero h1 {
  color: #fff !important;
  font-size: 20pt;
  display: inline-block;
  background: #fff;
  color: #43c4e3 !important;
  padding: 6px 12px;
  font-weight: 400 !important;
}
@media only screen and (max-width: 480px) {
  .hero h1 {
    font-size: 16pt;
  }
}
.main {
  margin-top: 100px;
}
.main .bigCircle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
@media only screen and (max-width: 480px) {
  .main .bigCircle {
    border-radius: 5px;
    width: 100%;
  }
}
.main .bigCircle.yellow {
  background: #ffe716 url(../img/mjolk.png);
  animation: mjolkAnimation 2s infinite;
  -webkit-animation: mjolkAnimation 2s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes mjolkAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -361px 0;
  }
}
.main .bigCircle.darkRed {
  background: #ad2527 url(../img/sperma.png);
  animation: redAnimation 20s infinite;
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes redAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -361px 0;
  }
}
.main .bigCircle.lightBlue {
  background-color: #43c4e3;
}
.main .bigCircle.darkBrown {
  background-color: #3a2213;
}
.main .bigCircle.gray {
  background-color: #d0d2d2;
}
.main .bigCircle.dark {
  background-color: #1b1b1b;
}
.main .del1 {
  float: left;
  margin-bottom: 80px;
  width: 100%;
}
.main .del1 h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.main .del1 .svensk {
  width: auto;
  height: 330px;
  max-width: 100%;
  margin-left: 50px;
  margin-top: -30px;
}
.main .del1 .bigCircle {
  margin-right: 40px;
}
.main .del2 {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}
.main .del2 h3 {
  margin-top: 70px;
  margin-bottom: 20px;
}
.main .del2 .insemination {
  width: 378px;
  max-width: 100%;
  margin-top: 110px;
}
.main .del2 .pipe1 {
  background: #ad2527 url(../img/sperma.png);
  position: absolute;
  margin-top: 298px;
  margin-left: 218px;
  width: 30px;
  height: 100px;
  z-index: -1;
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
}
.main .del2 .bigCircle {
  margin-right: 40px;
}
.main .del3 {
  float: left;
  margin-bottom: 100px;
  width: 100%;
}
.main .del3 h3 {
  margin-top: 70px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .main .del3 h3 {
    margin-top: 80px;
  }
}
.main .del3 .kalvning {
  width: 353px;
  max-width: 90%;
  margin-left: 5%;
  margin-top: 95px;
}
.main .del3 .bigCircle {
  margin-right: 40px;
  background: #E8C7D5;
}
.main .del4 {
  width: 100%;
  background: #3b3032;
  background-size: cover;
  padding: 100px 0;
}
.main .del4 h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff !important;
}
.main .del4 p {
  color: #fff !important;
}
.main .del4 .separation {
  width: 650px;
  max-width: 100%;
}
.main .del5 {
  background: #B2B2B2 center;
  background-size: cover;
  padding: 100px 0 130px 0;
  overflow: hidden;
}
.main .del5 h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.main .del5 .mjolkning {
  margin-top: 100px;
  width: 300px;
}
.main .del5 .bigCircle {
  float: none;
  display: inline-block;
  background: #666666 url(../img/mjolk.png);
  animation: mjolkAnimation 2s infinite;
  -webkit-animation: mjolkAnimation 2s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes mjolkAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -361px 0;
  }
}
.main .del6 {
  padding: 100px 0;
  position: relative;
}
.main .del6 .mjolkkartong {
  position: absolute;
  top: -100px;
  right: 40%;
  width: 60px;
  z-index: -1;
  animation: mjolkkartong 1.7s infinite;
  -webkit-animation: mjolkkartong 1.7s infinite;
}
@-webkit-keyframes mjolkkartong {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 80px;
    opacity: 1;
  }
}
.main .del6 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .del6 .packetering {
  margin-top: 0px;
  margin-left: 0px;
  width: 650px;
  max-width: 100%;
  margin-bottom: 15px;
}
.main .del6 .bigCircle {
  float: none;
  display: inline-block;
}
.main .del7 {
  padding: 100px 0;
  width: 100%;
  background: #e8e8e8;
}
.main .del7 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .main .del7 h3 {
    margin-top: 70px;
  }
}
.main .del7 .insemination {
  width: 378px;
  max-width: 100%;
  margin-top: 110px;
}
.main .del8 {
  background: #222;
  width: 100%;
  padding: 100px 0;
}
.main .del8 h3 {
  margin-top: 0;
  margin-bottom: 0px;
  color: #fff !important;
}
@media only screen and (max-width: 480px) {
  .main .del8 h3 {
    margin-top: 30px;
  }
}
.main .del8 h4 {
  margin-top: 30px;
  color: #fff !important;
}
.main .del8 p {
  color: #fff !important;
}
.main .del8 .kvigaCircle {
  margin-left: 0px;
  width: 200px;
  height: 200px;
}
.main .del8 .kvigaCircle .kviga {
  width: 200px;
}
.main .del8 .tjurCircle {
  width: 200px;
  height: 200px;
}
.main .del8 .tjurCircle .tjur {
  width: 200px;
}
.main .del8 .bigCircle {
  display: inline-block;
}
.main .del8 .insemination {
  max-width: 200px;
  margin-top: 100px;
}
.main .del8 .slakt {
  width: 80%;
  height: auto;
}
.main .del11 {
  margin-top: 150px;
  padding: 100px 0;
  width: 100%;
}
.main .del11 h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
}
.main .del11 .stats {
  position: relative;
  height: 150px;
}
.main .del11 .stats .relativeContainer {
  position: relative;
  height: 150px;
}
.main .del11 .stats .statContainer {
  height: 150px;
  margin-bottom: 30px;
  bottom: 0;
}
.main .del11 .stats .statContainer .tjurStats {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #000;
  bottom: 0;
  border-radius: 3px;
}
.main .del11 .stats .statContainer .kossaStats {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #ad2527 url(../img/sperma.png);
  -webkit-animation: redAnimation 20s infinite;
  -webkit-animation-timing-function: linear;
  bottom: 0;
  border-radius: 3px;
}
.main .del11 .stats .statContainer .naturligStats {
  position: absolute;
  width: 100%;
  height: 200%;
  background: #43c4e3;
  bottom: 0;
  border-radius: 3px;
}
.main .del12 {
  background: #F3F3F3 center;
  background-position: cover;
  padding: 80px 0 120px 0;
  width: 100%;
  float: left;
}
.main .del12 h3 {
  margin-bottom: 20px;
  font-weight: 700 !important;
}
.main .del12 h4 {
  margin-bottom: 15px;
  color: #000 !important;
}
.main .del12 h4.citat {
  color: #555 !important;
  margin-bottom: 20px;
}
.main .del12 .mjolker {
  margin-top: 40px;
}
.main .del12 .mjolker .bigCircle {
  position: relative;
  display: inline;
  animation: smjolkAnimation 2.0s infinite;
  -webkit-animation: smjolkAnimation 2.0s infinite;
}
@-webkit-keyframes smjolkAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.main .del12 .mjolker .bigCircle img {
  width: 400px;
  max-width: 100%;
  margin-bottom: 15px;
}
footer {
  color: #ffffff !important;
  background: #43c4e3 url(../img/hero.jpg) center;
  background-size: cover;
  padding: 100px 0 0 0;
  width: 100%;
  float: left;
}
footer h3 {
  margin-bottom: 20px;
  color: #ffffff !important;
  font-weight: 700 !important;
}
footer h4 {
  color: #ffffff !important;
  margin-top: 0;
  margin-bottom: 50px;
}
footer h4 a,
footer h4 a:hover {
  color: #fff;
}
footer .share {
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  color: #43c4e3;
  border-radius: 5px;
  margin: 0px 5px 60px 0px;
  font-size: 17px;
}
footer .share:hover {
  text-decoration: none;
  background: #e5f9ff;
}
footer img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
}
footer .sources {
  color: #fff !important;
  font-size: 9pt;
  margin-bottom: 10px;
  margin-top: 30px;
}
footer .sources a {
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  padding: 3px 8px;
  margin-left: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  -ms-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
footer .sources a:hover {
  text-decoration: none;
  background: #20b1d3;
}
footer .disclaimer {
  color: #ffffff !important;
  font-size: 9pt;
  line-height: 1.5;
  margin-bottom: 15px;
}
footer .disclaimer a {
  color: #ffffff;
}
footer .links {
  width: 100%;
  margin-top: 30px;
  padding: 45px 0 30px 0;
  background: #1c9dba;
  color: #43c4e3 !important;
}
footer .links a {
  color: #fff !important;
}
footer .links p {
  color: #fff !important;
}
footer .links ul {
  margin: 0 auto;
  width: 900px;
}
footer .links ul li {
  list-style: none;
  float: left;
  margin-left: 20px;
}
footer .links ul li a {
  color: #43c4e3;
  display: inline-block;
}
footer .links ul li a:hover {
  text-decoration: none;
  color: #ffffff !important;
}
.statistics {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 100px;
}
.statistics h1 {
  margin-top: 60px !important;
}
.statistics h2 {
  font-size: 23px !important;
  color: #888 !important;
}
.statistics img {
  width: 100%;
  border-radius: 5px;
}
.statistics .color-mellanmjolk {
  border-bottom: 10px solid #ad2527;
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
}
.statistics .color-sojadryck {
  border-bottom: 10px solid #35c43c;
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
}
.statistics .color-havredryck {
  border-bottom: 10px solid #ea9b2e;
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
}
.statistics .tablestats {
  position: relative;
  padding: 15px 15px 15px 45px;
  height: 200px;
  width: 100%;
  float: left;
  margin-top: 60px;
  margin-bottom: 50px;
  background: #f4f4f4;
  border-top: 40px solid #f4f4f4;
  border-right: 30px solid #f4f4f4;
  border-bottom: 30px solid #f4f4f4;
  border-left: 30px solid #f4f4f4;
  display: inline-block;
}
.statistics .tablestats h3 {
  position: absolute;
  bottom: -90px;
  width: 210px;
  text-align: center;
}
.statistics .tablestats h4 {
  position: absolute;
  bottom: -110px;
  font-size: 16px !important;
  width: 210px;
  text-align: center;
  color: #888 !important;
}
.statistics .tablestats .bar {
  width: 30px;
  background: #999;
  float: left;
  bottom: 0;
  position: absolute;
  border-radius: 3px;
}
.statistics .tablestats .bar.mellanmjolk {
  margin-left: 30px;
  background: #ad2527;
}
.statistics .tablestats .bar.sojadryck {
  margin-left: 90px;
  background: #35c43c;
}
.statistics .tablestats .bar.havredryck {
  margin-left: 150px;
  background: #ea9b2e;
}
.statistics .tablestats .bar span {
  position: relative;
  top: -20px;
}
